################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ResidentialSchoolManagementSystem/.vs/ResidentialSchoolManagementSystem
/ResidentialSchoolManagementSystem/ResidentialSchoolManagementSystem/bin/Debug/net8.0
/ResidentialSchoolManagementSystem/ResidentialSchoolManagementSystem/obj/Debug/net8.0
/ResidentialSchoolManagementSystem/ResidentialSchoolManagementSystem/obj
/ResidentialSchoolManagementSystem/RSMS.Common/bin/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMS.Common/obj/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMS.Common/obj
/ResidentialSchoolManagementSystem/RSMS.Data/bin/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMS.Data/obj
/ResidentialSchoolManagementSystem/RSMS.Services/bin/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMS.Services/obj
/ResidentialSchoolManagementSystem/RSMS.Tests/bin/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMS.Tests/obj/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMS.Tests/obj
/ResidentialSchoolManagementSystem/RSMS.Api/bin/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMS.Api/obj/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMS.Api/obj
/ResidentialSchoolManagementSystem/RSMS.Api/RSMS.Api.csproj.user
/ResidentialSchoolManagementSystem/.vs/ProjectEvaluation
/ResidentialSchoolManagementSystem/RSMA.BE.Api/bin/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMA.BE.Api/obj/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMA.BE.Api/obj
/ResidentialSchoolManagementSystem/RSMA.BE.Api/RSMS.Api.csproj.user
/ResidentialSchoolManagementSystem/RSMA.BE.Api/RSMA.BE.Api.http
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.AssemblyInfo.cs
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.AssemblyInfoInputs.cache
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.assets.cache
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.csproj.AssemblyReference.cache
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.GeneratedMSBuildEditorConfig.editorconfig
/ResidentialSchoolManagementSystem/RSMS.Business/obj/project.nuget.cache
/ResidentialSchoolManagementSystem/RSMS.Business/obj/RSMS.Business.csproj.nuget.dgspec.json
/ResidentialSchoolManagementSystem/RSMS.Business/obj/RSMS.Business.csproj.nuget.g.props
/ResidentialSchoolManagementSystem/RSMS.Business/obj/project.assets.json
/ResidentialSchoolManagementSystem/RSMS.Business/bin/Debug/net8.0/RSMS.Business.deps.json
/ResidentialSchoolManagementSystem/RSMS.Business/bin/Debug/net8.0/RSMS.Business.dll
/ResidentialSchoolManagementSystem/RSMS.Business/bin/Debug/net8.0/RSMS.Business.pdb
/ResidentialSchoolManagementSystem/RSMS.Business/bin/Debug/net8.0/RSMS.Common.dll
/ResidentialSchoolManagementSystem/RSMS.Business/bin/Debug/net8.0/RSMS.Common.pdb
/ResidentialSchoolManagementSystem/RSMS.Business/bin/Debug/net8.0/RSMS.Data.dll
/ResidentialSchoolManagementSystem/RSMS.Business/bin/Debug/net8.0/RSMS.Data.pdb
/ResidentialSchoolManagementSystem/RSMS.Business/bin/Debug/net8.0/RSMS.Services.dll
/ResidentialSchoolManagementSystem/RSMS.Business/bin/Debug/net8.0/RSMS.Services.pdb
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/ref/RSMS.Business.dll
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/refint/RSMS.Business.dll
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.AssemblyInfo.cs
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.AssemblyInfoInputs.cache
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.csproj.AssemblyReference.cache
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.csproj.CoreCompileInputs.cache
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.csproj.FileListAbsolute.txt
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.dll
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.pdb
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0/RSMS.Business.sourcelink.json
/ResidentialSchoolManagementSystem/RSMS.Business/bin/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMS.Business/obj/Debug/net8.0
/ResidentialSchoolManagementSystem/RSMS.Business/obj/RSMS.Repositories.csproj.nuget.dgspec.json
/ResidentialSchoolManagementSystem/RSMS.Business/obj/RSMS.Repositories.csproj.nuget.g.props
/ResidentialSchoolManagementSystem/RSMS.Business/obj/RSMS.Repositories.csproj.nuget.g.targets
